<div class="container notes-container" ng-cloak>
    <div class="profile-container">
        <div class="profile-editor">
            <div class="row">
                <div class="col-xs-6 profile-label">Name</div>
                <div class="col-xs-6 profile-value">
                    <span ng-hide="vm.isEditingName">
						{{vm.currentUser.name}} <a title="Edit" class="opt-tooltip opt-icon icon-pencil" ng-click="vm.isEditingName = true; vm.isEditingEmail = false;"></a>
					</span>
                    <span ng-show="vm.isEditingName">
						<form ng-submit="vm.updateUser()">
							<input type="text" placeholder="Name" ng-model="vm.dummyUser.name" /> <input type="submit" value="" title="Done" class="opt-tooltip opt-icon icon-check" />
						</form>
					</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 profile-label">Email</div>
                <div class="col-sm-6 profile-value">
                    <span ng-hide="vm.isEditingEmail">
						{{vm.currentUser.email}} <a title="Edit" class="opt-tooltip opt-icon icon-pencil" ng-click="vm.isEditingEmail = true; vm.isEditingName = false;"></a>
					</span>
                    <span ng-show="vm.isEditingEmail">
						<form ng-submit="vm.updateUser()">
							<input type="email" placeholder="Email address" ng-model="vm.dummyUser.email" /> <input type="submit" value="" title="Done" class="opt-tooltip opt-icon icon-check" />
						</form>
					</span>
                </div>
            </div>
        </div>
    </div>

    <hr class="profile-hr" />

    <div class="profile-header">
        <div class="row">
            <div class="col-sm-12"><h2>Stats</h2></div>
        </div>
    </div>

    <div style="width: 75%">
        <canvas id="tags-canvas"></canvas>
    </div>

    <hr class="profile-hr" />

    <div style="width: 75%">
        <canvas id="usage-canvas"></canvas>
    </div>
    </canvas>
</div>