<header class="header">
    <div class="container">
        <div class="row">
            <div class="brand">
                <a href="#"><span class="fa fa-book"></span> Ultiprep</a>
            </div>
        </div>
    </div>
</header>
<div class="container intro-container" id="intro">
    <div class="row text-center intro-text">
        <h3>Ultimate exam prep guide.</h3>
    </div>
    <div class="row intro-items">
        <div class="col-xs-12 col-forms">
            <div class="forms-container">
                <form id="signin-form" ng-submit="vm.logIn()">
                    <h1>Log in</h1>
                    <div class="signin-email">
                        <label for="email"></label>
                        <input type="email" placeholder="Enter email" ng-model="vm.signinCredentials.email" />
                    </div>
                    <div class="signin-password">
                        <label for="password"></label>
                        <input type="password" placeholder="Enter password" ng-model="vm.signinCredentials.password" />
                    </div>
                    <div class="signin-buttons">
                        <input type="submit" value="Log In" class="button button-main" />
                        <input type="button" value="Register" class="button button-aside flip" />
                    </div>
                </form>
                <!-- Register form -->
                <form id="register-form" ng-submit="vm.signUp()">
                    <h1>Sign Up</h1>
                    <div class="register-name">
                        <label for="name"></label>
                        <input type="text" placeholder="Enter name" ng-model="vm.registerCredentials.name" />
                    </div>
                    <div class="register-email">
                        <label for="email"></label>
                        <input type="email" placeholder="Enter email" ng-model="vm.registerCredentials.email" />
                    </div>
                    <div class="register-password">
                        <label for="password"></label>
                        <input type="password" placeholder="Enter password" ng-model="vm.registerCredentials.password" />
                    </div>
                    <div class="register-buttons">
                        <input type="submit" value="Register new account" class="button button-main" />
                        <input type="button" value="Log into existing account" class="button button-aside flip" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="stub2">
    </div>
</div>
<script>
var currYear = new Date().getFullYear();
if (currYear != '2017')
    document.getElementById('copyright-years').appendChild(document.createTextNode(' - ' + currYear));
</script>
<script src="js/home-script.js"></script>
<script src="assets/watnotif/js/watnotif-1.0.min.js" defer></script>
<script>
var cssFileHref = 'css/home-style.css';
loadCSSFile(cssFileHref);
</script>
